@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 16px;
    flex: 1;
    background: #cc0101;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: none;
}